body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.chat-container {
    width: 400px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 5vh auto 0 auto;
    font-family: Arial, sans-serif;
    max-height: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.header {
    display: flex;
    background-color: #f1f1f1;
    padding: 5px 10px;
    font-size: 18px;
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.health, .money {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.chat-window {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: calc(100% - 32px - 20%);
    min-height: 66.67vh;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message-center {
    justify-content: center;
}

.game-message-container {
    justify-content: center;
}

.game-message .action-message {
    display: inline-block;
    font-style: italic;
    color: #777;
    text-align: center;
    width: 100%;
}


.user-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.user-name {
    font-weight: bold;
}

.user-message {
    display: block;
    word-wrap: break-word;
}

.game-message {
    display: inline-block;
    font-style: italic;
    color: #777;
    text-align: center;
}

.input-container {
    display: flex;
    padding: 5px 10px;
}

.input-container input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }

button:disabled:hover {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }

input[type="text"]:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.actions-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.actions-buttons button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.actions-buttons button:hover {
    background-color: #0056b3;
}

.actions-buttons button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.actions-buttons button:disabled:hover {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.action-icon {
    width: 48px;
    height: 48px;
    margin: 10px;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-top: 0;
}

.fight-container, .items-container, .target-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actions-container > div {
    display: none;
}

.actions-container > div[hidden] {
    display: none !important;
}

.actions-container button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    flex-basis: calc(50% - 10px);
}

.actions-container button:hover {
    background-color: #c9302c;
}

.actions-container button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.actions-container button:disabled:hover {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.negative-effect {
    display: inline-block;
    font-style: italic;
    color: red;
    text-align: center;
    width: 100%;
}
  
.positive-effect {
    display: inline-block;
    font-style: italic;
    color: green;
    text-align: center;
    width: 100%;
}